@import '~bootstrap/scss/bootstrap';
@import 'react-toastify/dist/ReactToastify.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}



body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}

.pointer{
  cursor: pointer;
}

.custom-link{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}


.customHeader{
  border-top: 8px solid #f2d13e ;
  box-shadow: 0 4px 4px #d1d1d1;
  border-radius: 4px;
  a{
    color:#333;
  }
}